# Ignore my direnv setup
.envrc
.direnv
.tool-versions

# Ignore Ruby
.bundle
Gemfile.lock

# Ignore kitchen-terraform and test results
test/reports/*
!test/reports/.gitkeep
.kitchen
kitchen.local.yml
test/setup/harness.yml

# Ignore Terraform state and automatic var files - except examples
.terraform
.terraform.lock.hcl
terraform.tfstate*
*.auto.tfvars*
terraform.tfvars*
!terraform.tfvars.example
